
.desktop-menu-icon {
  icon-size: 16px;
}

.dap-ws-separator {
    width: 1px;
    height: 200px;
    margin: 0 12px;
    background-color: rgba(255,255,255,0.3);
}


.dap-preview-dock {
    background-color: rgba(222, 221, 218, 1);
    color: black;
    padding: 12px;
    border-radius: 18px 18px 0 0;
}

